div.subject #{entry.subject}
  .date #{prettyDate(entry.date)}
  .fb
    <div class="fb-like" data-href="http://steveleavestug.com/?entry=#{entry.id}" data-width="20" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  .blog-entry
    each element in entry.content
      if (element.content_type == 1)
        div(class=element.class) !{element.content}
      else if (element.content_type == 2)
        div(class=element.class class="picture-container")
          img(src=element.content)
          if (element.img_text)
            div(class="img-text") (!{element.img_text})
      else if (element.content_type == 3)
        iframe(width='420' height='315' src=element.content class=element.class)

-function prettyDate(dateString) {
-	var date = new Date(dateString);
-	var d = date.getDate();
-	var monthNames = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
-	var m = monthNames[date.getMonth()];
-	var y = date.getFullYear();
-	return m + ' ' + d + ', ' + y;
-}