div.subject #{entry.subject}
  .date #{prettyDate(entry.date)}
  .blog-entry
    each element in entry.content
      if (element.content_type == 1)
        p(class=element.class) #{element.content}
      else if (element.content_type == 2)
        img(src=element.content class=element.class)
      else if (element.content_type == 3)
        iframe(width='420' height='315' src=element.content class=element.class)

-function prettyDate(dateString) {
-	var date = new Date(dateString);
-	var d = date.getDate();
-	var monthNames = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
-	var m = monthNames[date.getMonth()];
-	var y = date.getFullYear();
-	return m + ' ' + d + ', ' + y;
-}